{% extends '../base.html' %}
{% load static %}

{% block title %}
Shopping
{% endblock %}

{% block content %}
<div>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td style="width: 90px;">
                        <img src="{% static 'media/example-apple.jpg' %}" class="img-thumbnail" alt="food1" width="90"
                            height="90">
                    </td>
                    <td class="align-middle">
                        <h6 class="fw-bold mb-1">[PRODUCT NAME]</h6>
                        <small class="text-muted m-0">[PRICE]</small>
                    </td>
                    <td class="align-middle" style="width: 32px;">
                        <div class="d-flex align-items-center ">
                            <button type="" class="btn btn-sm btn-danger"><i class="bi bi-trash2"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- order summary -->
    <div class="px-2">
        <h6>Order Summary</h6>
        <table class="table o-summary-table">
            <tbody>
                <tr>
                    <td class="w-100">
                        <small class="text-muted fw-bold">Subtotal</small>
                    </td>
                    <td class="text-end">
                        <p class="fw-bold">[PRICE]</p>
                    </td>
                </tr>
                <tr>
                    <td class="w-100">
                        <small class="text-muted fw-bold">Tax</small>
                    </td>
                    <td class="text-end">
                        <p class="fw-bold">[PRICE]</p>
                    </td>
                </tr>
                <tr>
                    <td class="w-100">
                        <small class="text-muted fw-bold">Order Total</small>
                    </td>
                    <td class="text-end">
                        <p class="fw-bold">[PRICE]</p>
                    </td>
                </tr>
                <td class="w-100">
                    <small class="text-muted fw-bold">Total</small>
                </td>
                <td class="text-end">
                    <h4 class="fw-bold">[PRICE]</h4>
                </td>
            </tbody>
        </table>
        <div>
            <a href="#" type="button" class="btn btn-lg btn-dark d-block"><i class="bi bi-check2 pe-2"></i>Proceed to
                Checkout</a>
        </div>
    </div>
</div>

<a href="{% url 'eatup:scan' %}" class="btn btn-lg btn-primary px-4 py-2 o-fixed-btn"><i class="bi bi-upc-scan pe-2"></i>Scan</a>
{% endblock %}